@model IEnumerable<ECommerceWebsite.MvcWebUI.Entity.Category>
@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}
<!--Yukarıdaki kod bloğu; seçili olan kategori'nin id'sini alabilmek için RouteConfig.cs içerisindeki RouteData üzerinden id'ye eriş.-->


<ul class="list-group">
    <a href="/Home/List" class="list-group-item">
        <i class="fa-solid fa-angles-right fa-fw"></i>
        Tüm Kategoriler
    </a>


    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            <!-- Önce object->string çevrilmeli ardından string->int -->
            if (item.Id == int.Parse((selectedCategory.ToString())))
            {
                //seçilen kategori ile route id'si birbirine eşit ise

                <a href="/Home/List/@item.Id" class="list-group-item active">
                    <i class="fa-solid fa-angles-right fa-fw"></i>
                    @item.CategoryName
                </a>

            }

            else
            {
                //kategori seçili olmadığı zaman
                <a href="/Home/List/@item.Id" class="list-group-item">
                    <i class="fa-solid fa-angles-right fa-fw"></i>
                    @item.CategoryName
                </a>
            }
        }
        else
        {
            <a href="/Home/List/@item.Id" class="list-group-item">
                <i class="fa-solid fa-angles-right fa-fw"></i>
                @item.CategoryName
            </a>
        }
    }

</ul>
