@using ECommerceWebsite.MvcWebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">ErKa E-Ticaret Sitesine Hoşgeldiniz!</h1>
        <p class="lead">10'dan fazla kategori içerisinde bulunan 100'e yakın ürün...</p>
        <hr class="my-4">
        <p>Teknoloji'nin kalbi burada atıyor. Hemen keşfetmeye başla.</p>
        <br />
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="/Home/List" role="button">
                <i class="fa-solid fa-bolt-lightning fa"></i>
                KEŞFET
            </a>
        </p>
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList", Model)
</div>





